---
import "@fontsource/jetbrains-mono";
import Footer from "../components/footer.astro";
---

<link rel="icon" href="/favicon.png" />
<body class="bg-brand-800">
  <div
    id="container"
    class="flex flex-col items-center justify-center h-screen"
  >
    <div id="content" class="flex flex-col">
      <h1 class="text-brand-100 text-9xl lg:text-6xl font-mono">404</h1>
      <a
        class="motion-safe:animate-pulse text-brand-300 text-7xl lg:text-4xl font-mono underline"
        href="/">Go Home.</a
      >
    </div>
  </div>
  <Footer />
</body>
