---
import Floatword from "../components/floatword.svelte";
import Footer from "../components/footer.astro";
import "@fontsource/jetbrains-mono";

let title = "Judah Brown"
let description = "Judah Brown, a potential hooman from the interwebs."
---

<html>
  <head>
    <style>
      #cover {
        background-image: url("/page-bg.svg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
      }
      #content {
        background-image: url("/page-content-bg.svg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .copyleft {
        display: inline-block;
        transform: rotate(180deg);
      }
      .font-mono {
        font-family: "JetBrains Mono";
      }
    </style>
    <title>Judah Brown</title>
    <meta
      name="theme-color"
      content="#A0BEDF"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#A0BEDF"
      media="(prefers-color-scheme: dark)"
    />

    <link
      rel="preload"
      href="/brand/flat-fill-mono-cyan-on-transparent.svg"
      as="image"
    />
    <link rel="preload" href="/page-bg.svg" as="image" />
    <link rel="icon" href="/favicon.png" />
    <!-- HTML Meta Tags -->
    <meta name="description" content={description} />
    <a rel="me" href="https://fosstodon.org/@OrbitalDev" class="hidden">Mastodon</a>

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={"Judah Brown"} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/page-content-bg.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title + "| Judah Brown"} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/page-content-bg.png" />
  </head>
  <body class="bg-brand-800 m-0">
    <div id="cover" class="flex w-screen h-screen flex-col justify-center">
      <img
        src="/brand/flat-fill-mono-cyan-on-transparent.svg"
        alt="logo"
        class="w-1/2 self-center lg:w-1/5 p-10 lg:p-7"
      />
      <h1 class="font-mono self-center text-5xl lg:text-3xl text-brand-150">
        //judah brown.
      </h1>
      <div
        class="flex self-center flex-row gap-5 text-3xl md:text-5xl lg:text-lg font-mono font-semibold text-brand-200 pt-8 lg:pt-1"
      >
        <a href="/" class="tooltip-disabled hover:animate-pulse">#home</a>
        <a href="/blog" class="hover:animate-pulse">#blog</a>
        <a href="/links" class="hover:animate-pulse">#links</a>
        <a href="/writing" class="hover:animate-pulse">#writing</a>
      </div>
    </div>
    <div id="content" class="w-screen flex flex-col text-center">
      <div id="words" class="w-screen px-10 py-3 flex flex-col text-center">
        <span
          class="font-mono font-bold text-8xl md:text-8xl lg:text-6xl text-brand-100 self-center py-44 lg:py-28"
          ><span class="max-sm:hidden">//</span>I'm Judah,</span
        >
        <span
          class="text-7xl md:text-8xl font-semibold text-brand-200 pb-10 lg:text-5xl font-mono self-center"
          >creator of...</span
        >

        <Floatword>code,</Floatword>
        <Floatword>stories,</Floatword>
        <Floatword>music,</Floatword>
        <Floatword>poems,</Floatword>
        <Floatword>adventures,</Floatword>
        <Floatword>bugs,</Floatword>
        <Floatword>hexagons,</Floatword>
        <Floatword>problems,</Floatword>
        <Floatword>words,</Floatword>

        <span
          class="text-6xl md:text-7xl font-semibold text-brand-200 lg:text-5xl font-mono self-center pt-3"
          >super cool stuff.</span
        >

        <span
          class="text-7xl md:text-8xl font-semibold text-brand-200 pt-44 pb-10 lg:text-5xl font-mono self-center"
          >supporter of...</span
        >

        <a href="https://kernel.org/" class="decoration-none"
          ><Floatword>linux,</Floatword>
        </a>
        <a href="https://gnome.org/" class="decoration-none"
          ><Floatword>GNOME,</Floatword>
        </a>
        <a href="https://eff.org/" class="decoration-none"
          ><Floatword>privacy,</Floatword>
        </a>
        <a href="https://joinmastodon.org" class="decoration-none"
          ><Floatword>mastodon,</Floatword>
        </a>
        <a href="https://fsf.org/" class="decoration-none"
          ><Floatword>FLOSS,</Floatword>
        </a>
        <a href="https://selfhosted.show/" class="decoration-none"
          ><Floatword>self-hosting,</Floatword>
        </a>
        <a href="https://tuxdigital.com/" class="decoration-none"
          ><Floatword>tuxdigital,</Floatword>
        </a>
        <a href="https://redhat.org/" class="decoration-none"
          ><Floatword>Red Hat,</Floatword>
        </a>

        <span
          class="text-6xl md:text-7xl font-semibold text-brand-200 lg:text-5xl font-mono self-center pt-3"
          >freedom.</span
        >

        <span
          class="text-6xl md:text-8xl font-semibold text-brand-200 pt-44 pb-10 lg:text-5xl font-mono self-center"
          >and also a...</span
        >

        <a href="https://dontdox.me/" class="decoration-none"
          ><Floatword>student,</Floatword>
        </a>
        <a href="https://us.gov/" class="decoration-none"
          ><Floatword>earthling,</Floatword>
        </a>
        <a href="https://cog7.org/" class="decoration-none"
          ><Floatword>Christian,</Floatword>
        </a>
        <a href="https://dribbble.com/orbitaldev" class="decoration-none"
          ><Floatword>designer,</Floatword>
        </a>
        <a href="" class="decoration-none"><Floatword>visionary,</Floatword></a>
        <a
          href="https://open.spotify.com/playlist/30jH0koWiWI4FrqSM7dEGd"
          class="decoration-none"
          ><Floatword>theatre kid,</Floatword>
        </a>
        <a href="https://hackclub.com/" class="decoration-none"
          ><Floatword>nerd,</Floatword>
        </a>
        <a
          href="https://en.wikipedia.org/wiki/Earl_Grey_tea"
          class="decoration-none"
          ><Floatword>tea-drinker,</Floatword>
        </a>

        <span
          class="text-6xl md:text-7xl font-semibold text-brand-200 lg:text-5xl font-mono self-center pt-3"
          >human*</span
        >
        <span
          class="text-4xl font-semibold text-brand-500 lg:text-xl font-mono self-center pt-1"
          >(*allegedly)</span
        >
      </div>
      <div id="aboutme" class="flex flex-col pb-44 px-14 md:px-28">
        <span
          class="font-mono font-bold text-8xl lg:text-6xl text-brand-100 self-center pt-44 pb-5 lg:pt-28"
          >% about me %</span
        >
        <p class="font-mono font-normal text-brand-150 text-4xl lg:text-xl">
          I'm Judah Brown,<br />Writer of code, music, and words,<br />Nerd,
          student, and Christian.<br />Lots of people think I'm weird. Frankly,
          I agree.
        </p>
        <p class="font-mono font-normal text-brand-150 text-4xl lg:text-xl">
          Check out my <a
            href="/blog"
            class="hover:animate-pulse underline decoration-dotted">blog</a
          >, or check out my profiles on <a
            href="/links"
            class="hover:animate-pulse underline decoration-dotted"
            >these platforms.</a
          >
        </p>
      </div>
    </div>
    <Footer />
  </body>
</html>
