<style>
    @media (max-width: 1023px) {
        h1, h2, h3, h4, h5 {
            line-height: 1;
        }
        h1 {
            font-size: 9rem;
        }
        h2 {
            font-size: 7rem;
        }
        h3 {
            font-size: 6.5rem;
        }
        h4 {
            font-size: 5.5rem;
        }
        h5 {
            font-size: 4.5rem;
        }
        p {
            font-size: 3rem;
        }
    }
    @media (min-width: 1024px) {
        h1, h2, h3, h4, h5 {
            line-height: 1;
        }
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 1.875rem;
        }
        h4 {
            font-size: 1.5rem;
        }
        h5 {
            font-size: 1.25rem;
        }
        p {
            font-size: 1.125rem;
        }
    }
</style>
<!-- <h1 class="text-[9rem] lg:text-5xl leading-none">h1</h1>
<h1 class="text-[7rem] lg:text-4xl leading-none">h2</h1>
<h1 class="text-[6.5rem] lg:text-3xl leading-none">h3</h1>
<h1 class="text-[5.5rem] lg:text-2xl leading-none">h4</h1>
<h1 class="text-[4.5rem] lg:text-xl leading-none">h5</h1>
<p class="text-[3rem] lg:text-lg leading-none">text</p> -->

<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<p>text</p>