<script lang="ts">
    let x = Math.floor((Math.random()*3.6))
    let whitespaceL: string = ""
    let whitespaceR: string = ""
    if (Math.round(Math.random()) == 0) {
        for (let i = 0; i <= x; i = i+1) {
            whitespaceL = whitespaceL + " &nbsp; "
        }
    } else {
        for (let i = 0; i <= x; i = i+1) {
            whitespaceR = whitespaceR + " &nbsp; ";
        }  
    }
</script>
<span class={`text-4xl md:text-7xl font-semibold text-brand-400 lg:text-4xl font-mono self-center self-strech}`}>{@html whitespaceL}<slot/>{@html whitespaceR}</span>