---
import "@fontsource/jetbrains-mono";
---

<style>
  .copyleft {
    display: inline-block;
    transform: rotate(180deg);
  }
  .font-mono {
    font-family: "JetBrains Mono";
  }
</style>
<div
  id="footer"
  class="w-screen font-mono text-3xl lg:text-lg flex-wrap bg-brand-700 py-10 flex flex-col justify-center items-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    style="isolation:isolate"
    viewBox="0 0 505.4 408.2"
    class="w-1/5 lg:w-1/12 pb-5 lg:pb-3"
    ><defs
      ><clipPath id="_clipPath_PezSHABRAxtVXfz3ZZLTd1bpCXDn3avQ"
        ><rect width="505.4" height="408.2"></rect>
      </clipPath>
    </defs><g clip-path="url(#_clipPath_PezSHABRAxtVXfz3ZZLTd1bpCXDn3avQ)"
      ><path
        d=" M 244.499 361.575 C 218.85 390.195 181.597 408.196 140.141 408.196 C 62.751 408.196 0.007 345.454 0.007 268.058 L 0.007 268.058 L 55.465 267.854 C 55.465 314.786 93.21 353.036 140.141 353.036 C 173.956 353.036 203.157 333.286 216.836 304.69 C 217.856 308.89 219.061 313.05 220.444 317.156 C 225.538 332.226 232.975 346.394 242.482 359.151 C 242.87 359.67 243.298 360.159 243.762 360.618 C 244.006 360.938 244.251 361.257 244.499 361.575 Z  M 280.281 0.004 L 225.063 0.004 Q 225.119 267.017 225.119 268.058 L 225.119 268.058 L 225.119 268.058 Q 225.119 268.399 225.119 268.743 C 225.119 299.773 235.325 328.449 252.58 351.622 Q 252.591 351.636 252.7 351.546 C 278.234 385.924 319.146 408.196 365.259 408.196 C 442.649 408.196 505.393 345.454 505.393 268.058 C 505.393 190.662 442.649 127.92 365.259 127.92 C 338.607 127.92 313.713 135.387 292.503 148.304 L 292.503 224.125 C 307.39 199.523 334.404 183.08 365.259 183.08 C 412.19 183.08 450.231 221.125 450.231 268.058 L 450.231 268.058 L 450.231 268.058 L 450.231 268.058 L 450.231 268.058 C 450.231 314.989 412.19 353.036 365.259 353.036 C 318.325 353.036 280.281 314.989 280.281 268.058 Q 280.281 254.816 280.281 0.004 Z "
        fill-rule="evenodd"
        class="fill-brand-400"></path>
    </g>
  </svg>
  <span class="text-brand-100 text-center font-mono whitespace-normal"
    >% built with &#9829; by judah brown %</span
  >
  <div class="text-brand-150 underline-offset-4">
    <nobr
      ><a
        href="/license"
        class="hover:animate-pulse underline decoration-dotted">#license</a
      >
      <a
        href="https://codeberg.org/orbitaldev/website"
        class="hover:animate-pulse underline decoration-dotted">#code</a
      >
      <a href="/links" class="hover:animate-pulse underline decoration-dotted"
        >#links</a
      >
    </nobr>
  </div>
  <hr class="w-1/12 mt-2.5 mb-1 border-r-8 border-brand-500 border-t-2" />
  <span class="text-brand-300 whitespace-normal"
    ><span class="copyleft">&copy;</span>
    {new Date().getFullYear()} judah brown.</span
  ><span class="text-brand-300">all rights reserved.</span>
</div>
