---
import links from "../../../links";
import Footer from "../../components/footer.astro"

export function getStaticPaths() {
  return links.map((link) => {
    return { params: { slug: link.name.toLowerCase() } };
  });
}

const { slug } = Astro.params;

if (slug == undefined) {
  return new Response(null, { status: 400 });
}
const link = links.find(link => link.name.toLowerCase() == slug.toLowerCase())
let failed = link != undefined ? false : true
---
<link rel="icon" href="/favicon.png" />
<body id="classhack" data-link={link?.url} class="bg-brand-800">
    <script>
        let body = document.getElementById("classhack")
        if (body != null) {
            let link = body.dataset.link
            if (link != undefined) {
                window.location.replace(link)
            }
        }
    </script>
    { failed ?
    <div
      id="container"
      class="flex flex-col items-center justify-center h-screen"
    >
      <div id="content" class="flex flex-col">
        <h1 class="text-brand-100 text-9xl lg:text-6xl font-mono">404</h1>
        <a
          class="motion-safe:animate-pulse text-brand-300 text-7xl lg:text-4xl font-mono underline"
          href="/">Go Home.</a
        >
      </div>
    </div>
    <Footer />: 
    <div
      id="container"
      class="flex flex-col items-center justify-center h-screen"
    >
      <div id="content" class="flex flex-col">
        <h1 class="text-brand-100 text-9xl lg:text-6xl font-mono">308</h1>
        <a
          class="motion-safe:animate-pulse text-brand-300 text-7xl lg:text-4xl font-mono underline"
          href="/">Redirecting.</a
        >
      </div>
    </div>
    <Footer /> }
  </body>