---
import "@fontsource/jetbrains-mono";
import "@fontsource/inter";
import Footer from "../../components/footer.astro";
import links from "../../../links";
/* import DribbbleIcon from "~icons/fa6-brands/dribbble"
import MastodonIcon from "~icons/fa6-brands/mastodon"
import MatrixIcon from "~icons/fa6-solid/message"
import KeyIcon from "~icons/fa6-solid/key"
import GitIcon from "~icons/fa6-solid/code-branch"
import SoundcloudIcon from "~icons/fa6-brands/soundcloud"
import SpotifyIcon from "~icons/fa6-brands/spotify"
import GithubIcon from "~icons/fa6-brands/github"
import YoutubeIcon from "~icons/fa6-brands/youtube" */

let title = "Links"
let description = "Links from Judah Brown, a potential hooman from the interwebs"
---

<html>
  <head>
    <style>
      .font-mono {
        font-family: "JetBrains Mono";
      }
    </style>
    <meta
      name="theme-color"
      content="#A0BEDF"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="shortcut icon"
      href="/brand/flat-mono-light-on-transparent.svg"
    />
    <title>Links | Judah Brown</title>
  </head>
  <body class="bg-brand-800">
    <div class="min-h-screen">
      <div
        class="w-screen min-h-1/4 lg:min-h-1/3 flex py-10 px-10 flex-col cover bg-brand-150"
      >
        <div
          id="nav"
          class="justify-self-start lg:self-end flex pb-16 lg:pb-0 flex-col pt-10 lg:pt-3"
        >
          <svg
            viewBox="0 0 505.4 408.2"
            class="sm:w-1/4 md:w-1/6 lg:self-end lg:w-16 fill-brand-300"
            ><defs
              ><clipPath id="_clipPath_0iI9sFi0rjaxFHWTlJOUGLSavdVUoAqx"
                ><rect width="505.4" height="408.2"></rect>
              </clipPath>
            </defs><g
              clip-path="url(#_clipPath_0iI9sFi0rjaxFHWTlJOUGLSavdVUoAqx)"
              ><path
                d=" M 244.499 361.575 C 218.85 390.195 181.597 408.196 140.141 408.196 C 62.751 408.196 0.007 345.454 0.007 268.058 L 0.007 268.058 L 55.465 267.854 C 55.465 314.786 93.21 353.036 140.141 353.036 C 173.956 353.036 203.157 333.286 216.836 304.69 C 217.856 308.89 219.061 313.05 220.444 317.156 C 225.538 332.226 232.975 346.394 242.482 359.151 C 242.87 359.67 243.298 360.159 243.762 360.618 C 244.006 360.938 244.251 361.257 244.499 361.575 Z  M 280.281 0.004 L 225.063 0.004 Q 225.119 267.017 225.119 268.058 L 225.119 268.058 L 225.119 268.058 Q 225.119 268.399 225.119 268.743 C 225.119 299.773 235.325 328.449 252.58 351.622 Q 252.591 351.636 252.7 351.546 C 278.234 385.924 319.146 408.196 365.259 408.196 C 442.649 408.196 505.393 345.454 505.393 268.058 C 505.393 190.662 442.649 127.92 365.259 127.92 C 338.607 127.92 313.713 135.387 292.503 148.304 L 292.503 224.125 C 307.39 199.523 334.404 183.08 365.259 183.08 C 412.19 183.08 450.231 221.125 450.231 268.058 L 450.231 268.058 L 450.231 268.058 L 450.231 268.058 L 450.231 268.058 C 450.231 314.989 412.19 353.036 365.259 353.036 C 318.325 353.036 280.281 314.989 280.281 268.058 Q 280.281 254.816 280.281 0.004 Z "
                fill-rule="evenodd"></path>
            </g>
          </svg>
          <div
            class="flex flex-row gap-5 lg:gap-2 text-2xl md:text-4xl lg:text-lg font-mono font-semibold text-brand-200 pt-8 lg:pt-1"
          >
            <a href="/" class="hover:animate-pulse">#home</a>
            <a href="/blog" class="hover:animate-pulse">#blog</a>
            <a href="/links" class="hover:animate-pulse">#links</a>
            <a href="/writing" class="hover:animate-pulse">#writing</a>
          </div>
        </div>
        <div id="spacer" class="h-full"></div>
        <div id="frontmatter" class="justify-self-end">
          <h1
            class="text-brand-500 font-bold break-words text-ellipsis pb-2 font-mono text-9xl md:text-8xl lg:text-5xl"
            style="hyphens: auto;"
          >
            // Links
          </h1>
          <span
            class="text-brand-400 font-mono md:ml-3 lg:ml-2 text-4xl lg:text-xl"
            >Find me on the platforms below!</span
          >
        </div>
        <link rel="icon" href="/favicon.png" />
        <!-- HTML Meta Tags -->
        <meta name="description" content={description} />

        <!-- Facebook Meta Tags -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title + " | Judah Brown"} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content="/page-content-bg.png" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title + " | Judah Brown"} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content="https://judahbrown.xyz/page-content-bg.png" />
      </div>
      <div class="mx-10 my-16 grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-4">
        <style is:global>
          .postbg {
            background-color: #011e38;
            background-position: center;
            transition: background-color 0.3s
              cubic-bezier(0.79, 0.14, 0.15, 0.86) 0s;
            min-height: calc(100vh / 12);
          }
          .postbg:hover {
            background-color: #91b4d900;
          }
          .post {
            background: url(/page-content-bg.svg);
            background-position: center;
            /* min-height: calc(100vh/3); */
          }
        </style>
        {
          links.map((link, i) => (
            <a href={link.url}>
              <div class="post w-full h-full rounded-xl drop-shadow-lg">
                <div class="postbg h-full w-full lg:w-full p-16 lg:p-10 rounded-xl flex flex-col">
                  <div class="flex flex-row content-center align-center pb-7 md:pb-5 lg:pb-2">
                    <span class="text-brand-100 font-mono text-6xl md:text-5xl lg:text-lg ">
                      {link.name}
                    </span>
                  </div>
                  <div class="h-full" />
                  <span class="text-brand-300 justify-self-end lg:justify-self-start text-5xl md:text-4xl lg:text-lg font-mono">
                    {link.username}
                  </span>
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
    <Footer />
  </body>
</html>
