---
import Icon from "astro-icon";
import MastodonIcon from "~icons/fa6-brands/mastodon";
import TwitterIcon from "~icons/fa6-brands/twitter";
import EmailIcon from "~icons/fa6-solid/envelope";
import BackIcon from "~icons/mdi/arrow-left";
const { sharingURL } = Astro.params;

export async function getStaticPaths() {
  let posts = (await Astro.glob("../blog/posts/*.md")).concat(await Astro.glob("../writing/pieces/*.md")).map((post) => {
    if (post.url == undefined) {
      return { params: { sharingURL: "hateu" } };
    }
    return { params: { sharingURL: post.url.substring(1) } };
  });
  posts.push({ params: { sharingURL: "hateu" } });
  return posts;
}
---
<link rel="icon" href="/favicon.png" />
<body
  class="bg-brand-800 min-h-screen text-brand-100 flex flex-col justify-center font-mono items-center text-7xl lg:text-xl"
>
  <script>
    let backButton = document.querySelector("#backButton");
    if (backButton != null) {
      backButton.addEventListener("click", async () => {
        try {
          await history.back();
        } catch (error) {
          console.log(error);
          alert("An error occured. Check the logs for details.");
        }
      });
    } else {
      alert("HIIII!");
    }
  </script>
  <h1
    class="text-brand-100 text-8xl lg:text-3xl font-bold text-center font-mono"
  >
    * share via *
  </h1>
  <div
    id="links"
    class="flex flex-col text-center gap-10 pt-10 lg:gap-3 lg:pt-3"
  >
    <div class="flex flex-row items-center justify-center">
      <MastodonIcon
        class="fill-brand-100 h-15 md:h-11 lg:h-6 pr-5 lg:pr-3"
      />
      <a
        href={"https://toot.kytta.dev/?text=Check%20out%20this%20post%20from%20@OrbitalDev@fosstodon.org%27s%20blog!%20https://judahbrown.dev/" +
          sharingURL}
        >mastodon
      </a>
    </div>

    <div class="flex flex-row items-center justify-center">
      <TwitterIcon
        class="fill-brand-100 h-15 md:h-11 lg:h-6 pr-5 lg:pr-3"
      />
      <a
        href={"https://twitter.com/intent/tweet?text=Check%20out%20this%20post%20from%20Judah%20Brown%27s%20blog!%20https://judahbrown.dev/" +
          sharingURL}
        >twitter
      </a>
    </div>

    <div class="flex flex-row items-center justify-center">
      <EmailIcon
        class="fill-brand-100 h-15 md:h-11 lg:h-6 pr-5 lg:pr-3"
      />
      <a
        href={"mailto:john@example.com?subject=Check%20Out%20This%20Post&body=Check%20out%20this%20post%20from%20Judah%20Brown%27s%20blog!%20https://judahbrown.dev/" +
          sharingURL}
        >e-mail
      </a>
    </div>
  </div>
  <div class="pt-10 lg:pt-3">
    <div
      id="backButton"
      class="aspect-square shadow-md hover:animate-pulse flex content-center justify-center w-32 lg:w-16 lg:p-5 bg-brand-700 rounded-full"
    >
      <BackIcon name="mdi:arrow-left" class="text-brand-100 w-16 lg:w-10" />
    </div>
  </div>
</body>
