---
import "@fontsource/jetbrains-mono";
import "@fontsource/inter";
/* import Icon from "astro-icon"; */
import ShareIcon from "~icons/fa6-solid/share-nodes"
import Footer from "../components/footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    url?: string;
    breakTitle?: string;
  };
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    url,
    breakTitle,
  },
} = Astro.props;
---

<html>
  <head>
    <style is:global>
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: white;
        font-family: "JetBrains Mono", monospace;
        padding-top: 0.5rem; /* 10px */
        padding-bottom: 0.5rem; /* 10px */
      }
      p {
        color: white;
      }
      code {
      }
      time {
        color: #ddd;
      }
      .font-mono {
        font-family: "JetBrains Mono";
      }

      @media (max-width: 1023px) {
        h1, h2, h3, h4, h5 {
            line-height: 1;
        }
        h1 {
            font-size: 7rem;
        }
        h2 {
            font-size: 6rem;
        }
        h3 {
            font-size: 5.5rem;
        }
        h4 {
            font-size: 4.5rem;
        }
        h5 {
            font-size: 3.5rem;
        }
        p {
            font-size: 2.5rem;
        }
    }
    @media (min-width: 1024px) {
        h1, h2, h3, h4, h5 {
            line-height: 1;
        }
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 1.875rem;
        }
        h4 {
            font-size: 1.5rem;
        }
        h5 {
            font-size: 1.25rem;
        }
        p {
            font-size: 1.125rem;
        }
    }
    </style>
    <meta
      name="theme-color"
      content="#A0BEDF"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="shortcut icon"
      href="/brand/flat-mono-light-on-transparent.svg"
    />
    <title>{title} | Judah Brown</title>
    <script>
      let sharingButton = document.querySelector("#sharingButton");
      if (sharingButton != null) {
        sharingButton.addEventListener("click", async () => {
          try {
            await navigator.share({
              title: document.title.replace("| Judah Brown", ""),
              url: window.location.href,
            });
          } catch (error) {
            if (error instanceof TypeError) {
              window.location.replace(
                "/share/" + window.location.pathname.substring(1)
              );
            } else {
              alert("Error Sharing: " + error);
            }
          }
        });
      }
    </script>
    <!-- HTML Meta Tags -->
    <meta
      name="description"
      content={description
        ? description
        : "A blog post from Judah Brown, a potential hooman from the interwebs"}
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content={description
        ? description
        : "A blog post from Judah Brown, a potential hooman from the interwebs"}
    />
    <meta property="og:image" content="/page-content-bg.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content={description
        ? description
        : "A blog post from Judah Brown, a potential hooman from the interwebs"}
    />
    <meta
      name="twitter:image"
      content="https://judahbrown.xyz/page-content-bg.png"
    />
  
  <!-- Comments -->
  <script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
  <link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">

  </head>
  <body class="bg-brand-800 h-screen">
    <div class="container min-h-full">
    <div
      class="w-screen min-h-1/3 lg:h-1/2 flex py-10 px-10 flex-col cover bg-brand-150"
    >
      <div class="w-full flex flex-row lg:flex-row-reverse">
        <div
          id="nav"
          class="justify-self-start max-w-fit lg:self-end flex flex-col pt-10 pb-16 lg:pt-3"
        >
          <svg
            viewBox="0 0 505.4 408.2"
            class="sm:w-1/4 md:w-1/6 lg:self-end lg:w-16 fill-brand-300"
            ><defs
              ><clipPath id="_clipPath_0iI9sFi0rjaxFHWTlJOUGLSavdVUoAqx"
                ><rect width="505.4" height="408.2"></rect>
              </clipPath>
            </defs><g
              clip-path="url(#_clipPath_0iI9sFi0rjaxFHWTlJOUGLSavdVUoAqx)"
              ><path
                d=" M 244.499 361.575 C 218.85 390.195 181.597 408.196 140.141 408.196 C 62.751 408.196 0.007 345.454 0.007 268.058 L 0.007 268.058 L 55.465 267.854 C 55.465 314.786 93.21 353.036 140.141 353.036 C 173.956 353.036 203.157 333.286 216.836 304.69 C 217.856 308.89 219.061 313.05 220.444 317.156 C 225.538 332.226 232.975 346.394 242.482 359.151 C 242.87 359.67 243.298 360.159 243.762 360.618 C 244.006 360.938 244.251 361.257 244.499 361.575 Z  M 280.281 0.004 L 225.063 0.004 Q 225.119 267.017 225.119 268.058 L 225.119 268.058 L 225.119 268.058 Q 225.119 268.399 225.119 268.743 C 225.119 299.773 235.325 328.449 252.58 351.622 Q 252.591 351.636 252.7 351.546 C 278.234 385.924 319.146 408.196 365.259 408.196 C 442.649 408.196 505.393 345.454 505.393 268.058 C 505.393 190.662 442.649 127.92 365.259 127.92 C 338.607 127.92 313.713 135.387 292.503 148.304 L 292.503 224.125 C 307.39 199.523 334.404 183.08 365.259 183.08 C 412.19 183.08 450.231 221.125 450.231 268.058 L 450.231 268.058 L 450.231 268.058 L 450.231 268.058 L 450.231 268.058 C 450.231 314.989 412.19 353.036 365.259 353.036 C 318.325 353.036 280.281 314.989 280.281 268.058 Q 280.281 254.816 280.281 0.004 Z "
                fill-rule="evenodd"></path>
            </g>
          </svg>
          <div
            class="flex flex-row gap-5 lg:gap-2 text-2xl md:text-4xl lg:text-lg font-mono font-semibold text-brand-200 pt-8 lg:pt-1"
          >
            <a href="/" class="">#home</a>
            <a href="/blog" class="">#blog</a>
            <a href="/links" class="">#links</a>
            <a href="/writing" class="hover:animate-pulse">#writing</a>
          </div>
        </div>
        <div id="spacer" class="w-full"></div>
        <div class="">
          <div
            id="sharingButton"
            class="aspect-square shadow-md hover:animate-pulse flex content-center justify-center w-32 lg:w-16 lg:p-5 bg-brand-700 rounded-full"
          >
            <ShareIcon class="text-brand-100 text-4xl lg:text-lg"/>
          </div>
        </div>
      </div>
      <div id="spacer" class="h-full"></div>
      <div id="frontmatter" class="justify-self-end">
        <h1
          class="text-brand-500 font-bold break-words text-ellipsis font-mono text-9xl md:text-8xl lg:text-5xl"
          style="hyphens: auto;"
        >
          // {breakTitle ? breakTitle : title}
        </h1>
        <span
          class="text-brand-400 font-mono md:ml-3 lg:ml-2 text-4xl lg:text-xl"
          ># By: Judah Brown {
            Astro.props.pubDate != undefined ? "on " + Astro.props.pubDate : ""
          }</span
        >
      </div>
    </div>
    <div class="mx-16 mr-16 lg:mr-44 lg:mx-10 pt-10 pb-10">
      
      <slot />

      <div id="comment-section" class="mt-10">
        <h3 class="mb-2.5">&lt;!-- comments --&gt;</h3>
        <div id="comments-insert"></div>
        
        <!-- Initialize comment section -->

        <h1 class="hidden" id="internal_id">{String(Astro.props.url).replace("/blog/posts/" ,"")}</h1>
        <script>
          initComments({
            node: document.getElementById("comments-insert"),
            defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
            serverName: "cactus.chat",
            siteName: "orbitaldev",
            commentSectionId: document.getElementById("internal_id").innerHTML
          })
        </script>

        <style>
          :root {
            --cactus-text-color: white;
          }
        </style>
      </div>
    </div>
  </div>
    <Footer />
  </body>
</html>
